<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{Sname}}<br>
{% for item in name %}
<a href="http://127.0.0.1:5000/hi">{{item}}</a>
<br>
{% endfor %}
<!--{{SSname}}<br>-->
<!--{% for item in name1 %}-->
<!--<a href="http://127.0.0.1:5000/hi">{{item}}</a>-->
<!--<br>-->
<!--{% endfor %}-->
<!--{{SSSname}}<br>-->
<!--{% for item in name2 %}-->
<!--<a href="http://127.0.0.1:5000/hi">{{item}}</a>-->
<!--<br>-->
<!--{% endfor %}-->
</body>
</html>